--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.vcap.me:80/apps
    body: "{\"name\":\"newapp\",\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"staging\":{\"model\":\"node\"},\"resources\":{\"memory\":64}}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 302
      message: Moved Temporarily
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - http://api.vcap.me/apps/newapp
    body: "{\"result\":\"success\",\"redirect\":\"http://api.vcap.me/apps/newapp\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:34 GMT
recorded_with: VCR 2.0.0.beta2
