--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp/stats
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"1eabca381765acd8f9740f504120221e\""
    body: "{\"0\":{\"state\":\"RUNNING\",\"stats\":{\"name\":\"newapp\",\"host\":\"127.0.0.1\",\"port\":60041,\"uris\":[\"newapp.vcap.me\"],\"uptime\":0.552919023,\"mem_quota\":67108864,\"disk_quota\":2147483648,\"fds_quota\":256,\"cores\":4}},\"1\":{\"state\":\"DOWN\",\"since\":1322788182}}"
  recorded_at: Fri, 02 Dec 2011 01:09:41 GMT
recorded_with: VCR 2.0.0.beta2
