--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4cde525f3691c444fc9445a9a6bed657\""
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":2,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[],\"version\":\"46c0a630f12c9970996304e0d7e3848e8ea02342-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":2,\"created\":1322788178}}"
  recorded_at: Fri, 02 Dec 2011 01:09:37 GMT
- request: 
    method: put
    uri: http://api.vcap.me:80/apps/newapp
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":2,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STARTED\",\"services\":[],\"version\":\"46c0a630f12c9970996304e0d7e3848e8ea02342-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":2,\"created\":1322788178}}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: " "
  recorded_at: Fri, 02 Dec 2011 01:09:38 GMT
recorded_with: VCR 2.0.0.beta2
