--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.vcap.me:80/apps
    body: "{\"name\":\"newapp\",\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"staging\":{\"model\":\"node\"},\"resources\":{\"memory\":64}}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 302
      message: Moved Temporarily
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - http://api.vcap.me/apps/newapp
    body: "{\"result\":\"success\",\"redirect\":\"http://api.vcap.me/apps/newapp\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:46 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/services/redis-mock
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4d597daf1e538043afab00e953920f32\""
    body: "{\"name\":\"redis-mock\",\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"properties\":{},\"meta\":{\"created\":1322788185,\"updated\":1322788185,\"tags\":[\"redis\",\"redis-2.2\",\"key-value\",\"nosql\"],\"version\":1}}"
  recorded_at: Fri, 02 Dec 2011 01:09:46 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"167675c961893e367f1735839bd88b34\""
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[],\"version\":\"76c047be2a7bf6516de48594a05d4564-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":1,\"created\":1322788187}}"
  recorded_at: Fri, 02 Dec 2011 01:09:46 GMT
- request: 
    method: put
    uri: http://api.vcap.me:80/apps/newapp
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[\"redis-mock\"],\"version\":\"76c047be2a7bf6516de48594a05d4564-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":1,\"created\":1322788187}}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: " "
  recorded_at: Fri, 02 Dec 2011 01:09:46 GMT
recorded_with: VCR 2.0.0.beta2
