--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me:80/info/services
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c53736fe07a3f48b7e0f08c13d0649bd\""
    body: "{\"key-value\":{\"redis\":{\"2.2\":{\"id\":1,\"vendor\":\"redis\",\"version\":\"2.2\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"key-value\",\"description\":\"Redis key-value store service\"}},\"mongodb\":{\"1.8\":{\"id\":3,\"vendor\":\"mongodb\",\"version\":\"1.8\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"key-value\",\"description\":\"MongoDB NoSQL store\"}}},\"database\":{\"mysql\":{\"5.1\":{\"id\":2,\"vendor\":\"mysql\",\"version\":\"5.1\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"database\",\"description\":\"MySQL database service\"}}},\"generic\":{\"neo4j\":{\"1.4\":{\"id\":4,\"vendor\":\"neo4j\",\"version\":\"1.4\",\"tiers\":{\"free\":{\"options\":{},\"order\":1}},\"type\":\"generic\",\"description\":\"Neo4j NOSQL store\"}}}}"
  recorded_at: Fri, 02 Dec 2011 01:09:42 GMT
- request: 
    method: post
    uri: http://api.vcap.me:80/services
    body: "{\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"name\":\"redis-mock\"}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"description\":\"Validation failed: Alias has already been taken\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:45 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/services
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"81a77363e3c9ee36bcc903c128f173a7\""
    body: "[{\"name\":\"redis-mock\",\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"properties\":{},\"meta\":{\"created\":1322788185,\"updated\":1322788185,\"tags\":[\"redis\",\"redis-2.2\",\"key-value\",\"nosql\"],\"version\":1}}]"
  recorded_at: Fri, 02 Dec 2011 01:09:45 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/services/noservice
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"code\":500,\"description\":\"Service not found\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:45 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/services/redis-mock
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4d597daf1e538043afab00e953920f32\""
    body: "{\"name\":\"redis-mock\",\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"properties\":{},\"meta\":{\"created\":1322788185,\"updated\":1322788185,\"tags\":[\"redis\",\"redis-2.2\",\"key-value\",\"nosql\"],\"version\":1}}"
  recorded_at: Fri, 02 Dec 2011 01:09:45 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/appname
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"code\":301,\"description\":\"Application not found\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:45 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e102e2b9f13097abf0b76d9142798506\""
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[\"redis-mock\"],\"version\":\"538bc8f284a499ef33931b950abed7c4-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":2,\"created\":1322788188}}"
  recorded_at: Fri, 02 Dec 2011 01:09:46 GMT
[...]
- request: 
    method: delete
    uri: http://api.vcap.me:80/services/redis-mock
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"99914b932bd37a50b983c5e7c90ae93b\""
    body: "{}"
  recorded_at: Fri, 02 Dec 2011 01:09:48 GMT
recorded_with: VCR 2.0.0.beta2
