--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.vcap.me:80/services/redis-mock
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4d597daf1e538043afab00e953920f32\""
    body: "{\"name\":\"redis-mock\",\"type\":\"key-value\",\"vendor\":\"redis\",\"version\":\"2.2\",\"tier\":\"free\",\"properties\":{},\"meta\":{\"created\":1322788185,\"updated\":1322788185,\"tags\":[\"redis\",\"redis-2.2\",\"key-value\",\"nosql\"],\"version\":1}}"
  recorded_at: Fri, 02 Dec 2011 01:09:47 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/apps/newapp
    body: ""
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8571b411e6866e556264b30e33a16994\""
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[\"redis-mock\"],\"version\":\"f448ec65bfaed4f0cb7bf8c2623b73b4-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":2,\"created\":1322788188}}"
  recorded_at: Fri, 02 Dec 2011 01:09:47 GMT
- request: 
    method: put
    uri: http://api.vcap.me:80/apps/newapp
    body: "{\"name\":\"newapp\",\"staging\":{\"model\":\"node\",\"stack\":\"node\"},\"uris\":[\"newapp.vcap.me\"],\"instances\":1,\"runningInstances\":0,\"resources\":{\"memory\":64,\"disk\":2048,\"fds\":256},\"state\":\"STOPPED\",\"services\":[],\"version\":\"f448ec65bfaed4f0cb7bf8c2623b73b4-0\",\"env\":[],\"meta\":{\"debug\":null,\"version\":2,\"created\":1322788188}}"
    headers: 
      Authorization: 
      - 04085b084922117573657240766361702e6d65063a0645546c2b073101dc4e2219f848b1aea2d82a2a6981750fa1aac61104aed60f
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: " "
  recorded_at: Fri, 02 Dec 2011 01:09:47 GMT
recorded_with: VCR 2.0.0.beta2
