--- 
http_interactions: 
- request: 
    method: post
    uri: http://api.vcap.me:80/users
    body: "{\"email\":\"user@vcap.me\",\"password\":\"foobar\"}"
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"code\":100,\"description\":\"Bad request\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:50 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/users
    body: ""
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"dbf9750f6f10ca8c34d7a42e0f3f16bf\""
    body: "[{\"email\":\"admin@vcap.me\",\"admin\":true,\"apps\":[]},{\"email\":\"user@vcap.me\",\"admin\":false,\"apps\":[{\"name\":\"newapp\",\"state\":\"STOPPED\"}]},{\"email\":\"fakeuser1@vcap.me\",\"admin\":false,\"apps\":[]},{\"email\":\"fakeuser2@vcap.me\",\"admin\":false,\"apps\":[]},{\"email\":\"fakeuser@vcap.me\",\"admin\":false,\"apps\":[]}]"
  recorded_at: Fri, 02 Dec 2011 01:09:51 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/users/nouser@vcap.me
    body: ""
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 403
      message: Forbidden
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"code\":201,\"description\":\"User not found\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:51 GMT
- request: 
    method: get
    uri: http://api.vcap.me:80/users/fakeuser@vcap.me
    body: ""
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"3dd4a78f201e918efd9b16af0f2d2dfd\""
    body: "{\"email\":\"fakeuser@vcap.me\"}"
  recorded_at: Fri, 02 Dec 2011 01:09:51 GMT
[...]
- request: 
    method: delete
    uri: http://api.vcap.me:80/users/fakeuser1@vcap.me
    body: ""
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
  response: 
    status: 
      code: 204
      message: No Content
    headers: 
    body: ""
  recorded_at: Fri, 02 Dec 2011 01:09:51 GMT
[...]
- request: 
    method: get
    uri: http://api.vcap.me:80/info
    body: ""
    headers: 
      Authorization: 
      - 04085b0849221261646d696e40766361702e6d65063a0645546c2b070101dc4e22196ec60283e0258107d4a7d98f66644938607fb049
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"14474b6291887f823279b1168c3c5063\""
    body: "{\"name\":\"vcap\",\"build\":2222,\"support\":\"http://support.cloudfoundry.com\",\"version\":\"0.999\",\"description\":\"VMware's Cloud Application Platform\",\"allow_debug\":true,\"user\":\"admin@vcap.me\",\"limits\":{\"memory\":32768,\"app_uris\":16,\"services\":32,\"apps\":200},\"usage\":{\"memory\":0,\"apps\":0,\"services\":0},\"frameworks\":{\"grails\":{\"name\":\"grails\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"spring\":{\"name\":\"spring\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"sinatra\":{\"name\":\"sinatra\",\"runtimes\":[{\"name\":\"ruby18\",\"version\":\"1.8.7\",\"description\":\"Ruby 1.8.7\"},{\"name\":\"ruby19\",\"version\":\"1.9.2p180\",\"description\":\"Ruby 1.9.2\"}],\"appservers\":[{\"name\":\"thin\",\"description\":\"Thin\"}],\"detection\":[{\"*.rb\":\"require 'sinatra'|require \\\"sinatra\\\"\"},{\"config/environment.rb\":false}]},\"java_web\":{\"name\":\"java_web\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"php\":{\"name\":\"php\",\"runtimes\":[{\"name\":\"php\",\"version\":\"5.3\",\"description\":\"PHP 5\"}],\"appservers\":[{\"name\":\"apache\",\"description\":\"Apache\"}],\"detection\":[{\"*.php\":true}]},\"otp_rebar\":{\"name\":\"otp_rebar\",\"runtimes\":[{\"name\":\"erlangR14B02\",\"version\":\"R14B02\",\"description\":\"Erlang R14B02\"}],\"appservers\":[],\"detection\":[{\"releases/*/*.rel\":\".\"}]},\"lift\":{\"name\":\"lift\",\"runtimes\":[{\"name\":\"java\",\"version\":\"1.6\",\"description\":\"Java 6\"}],\"appservers\":[{\"name\":\"tomcat\",\"description\":\"Tomcat\"}],\"detection\":[{\"*.war\":true}]},\"rails3\":{\"name\":\"rails3\",\"runtimes\":[{\"name\":\"ruby18\",\"version\":\"1.8.7\",\"description\":\"Ruby 1.8.7\"},{\"name\":\"ruby19\",\"version\":\"1.9.2p180\",\"description\":\"Ruby 1.9.2\"}],\"appservers\":[{\"name\":\"thin\",\"description\":\"Thin\"}],\"detection\":[{\"config/application.rb\":true},{\"config/environment.rb\":true}]},\"django\":{\"name\":\"django\",\"runtimes\":[{\"name\":\"python26\",\"version\":\"2.6.5\",\"description\":\"Python 2.6.5\"}],\"appservers\":[],\"detection\":[{\"*.py\":\".\"}]},\"node\":{\"name\":\"node\",\"runtimes\":[{\"name\":\"node\",\"version\":\"0.4.5\",\"description\":\"Node.js\"}],\"appservers\":[],\"detection\":[{\"*.js\":\".\"}]},\"wsgi\":{\"name\":\"wsgi\",\"runtimes\":[{\"name\":\"python26\",\"version\":\"2.6.5\",\"description\":\"Python 2.6.5\"}],\"appservers\":[],\"detection\":[{\"*.py\":\".\"}]}}}"
  recorded_at: Fri, 02 Dec 2011 01:09:52 GMT
recorded_with: VCR 2.0.0.beta2
